/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.header_row {
  background-color: #eeeeee;
  height:50px;
  line-height: 3.5;
  font-weight: bold;
  color: #888a8a;
}

#ByCustomer, #BySiteCustomer, #BySiteReason, #BySiteItem, #ByFailureCode, #BySiteReasonPeriod {
	display: none;
}

/*
.salesforceTable tbody, .salesforceTable thead {
    display: block;
}

.salesforceTable tbody {
    overflow: auto;
    height: 565px;
}

.salesforceTable th {
    width: 500px;
    cursor: pointer;
}

.salesforceTable td {
    width: 500px;
}
*/

#salesCallTotalTable, #salesCallPercentTable, #projectedTable{
  margin-top: 20px;
}

#salesCallTotalTable td, #salesCallPercentTable td {
  padding-right: 0px;
  padding-left: 0px;
}

.borderedTD {
  border-right: 1px solid black;
}

.centerTD {
  text-align: center;
}